@import './styles/global.css';

/* 전체 기본 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  overscroll-behavior-y: contain;
  -webkit-tap-highlight-color: transparent;
}
